.contacts {
  padding-top: 65px; }
  @media (min-width: 768px) {
    .contacts {
      padding-top: 89px; } }
  .contacts .block-header {
    display: block;
    font-family: Monsterrat-Light;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 3.6px;
    padding-top: 65px;
    padding-bottom: 40px; }
    @media (min-width: 768px) {
      .contacts .block-header {
        padding-top: 70px;
        padding-bottom: 50px;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4px; } }
  .contacts .block-text {
    display: block;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    font-family: Monsterrat-Light; }
  .contacts .contact-us {
    color: #11364D;
    background: #F4F5F5; }
    .contacts .contact-us .block-text {
      font-family: Monsterrat-Regular; }
    .contacts .contact-us .contact-us__email-logo {
      padding-bottom: 15px; }
    .contacts .contact-us .contact-us__contact-title {
      font-family: Montserrat-Hairline;
      color: #FD5412;
      font-size: 24px;
      letter-spacing: 2.4px;
      line-height: 29px; }
    .contacts .contact-us .contact-us__photo {
      width: 100%;
      max-width: 309px;
      padding-top: 23px;
      padding-bottom: 45px; }
      @media (min-width: 768px) {
        .contacts .contact-us .contact-us__photo {
          width: auto;
          max-width: none;
          padding-top: 34px;
          padding-bottom: 40px; } }
    .contacts .contact-us .contact-us__info {
      padding: 0 0 35px 0; }
      @media (min-width: 768px) {
        .contacts .contact-us .contact-us__info {
          min-height: 189px; } }
      .contacts .contact-us .contact-us__info img {
        padding-bottom: 10px; }
    .contacts .contact-us .contact-us__content {
      padding-top: 50px;
      padding-bottom: 50px; }
    .contacts .contact-us .contact-us_wrapper {
      overflow: hidden;
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: 309px; }
      @media (min-width: 768px) {
        .contacts .contact-us .contact-us_wrapper {
          display: block;
          max-width: none;
          width: auto; } }
  .contacts .contacts-form {
    padding-bottom: 50px; }
    @media (min-width: 768px) {
      .contacts .contacts-form {
        padding-bottom: 100px; } }
  .contacts form#contactForm input, .contacts form#contactForm textarea {
    border: 2px solid #175477;
    box-shadow: none;
    font-size: 14px;
    margin-bottom: 30px; }
    .contacts form#contactForm input::-webkit-input-placeholder, .contacts form#contactForm textarea::-webkit-input-placeholder {
      color: #175477; }
    .contacts form#contactForm input:-moz-placeholder, .contacts form#contactForm textarea:-moz-placeholder {
      color: #175477; }
    .contacts form#contactForm input:-ms-input-placeholder, .contacts form#contactForm textarea:-ms-input-placeholder {
      color: #175477; }
  .contacts form#contactForm input {
    height: 60px; }
  .contacts form#contactForm .form-group {
    margin: 0; }
  .contacts form#contactForm textarea {
    padding-top: 20px;
    resize: none; }
  .contacts form#contactForm #nextButton, .contacts form#contactForm #backButton, .contacts form#contactForm #submitButton {
    width: 110px;
    height: 52px;
    background: #FD5412;
    border: 2px solid #FD5412;
    border-radius: 3px;
    font-family: Montserrat-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1.77px; }
  .contacts form#contactForm #backButton {
    background: #FFFFFF;
    color: #FD5412;
    margin-right: 20px; }
  .contacts form#contactForm .block-text {
    padding-bottom: 45px; }
  .contacts form#contactForm .fileUpload, .contacts form#contactForm #delete-btn {
    width: 96px;
    position: relative;
    overflow: hidden;
    margin: 10px;
    border: 2px solid #175477;
    font-size: 10px;
    border-radius: 3px;
    font-family: Montserrat-Regular;
    color: #11364D;
    letter-spacing: 1.11px; }
    .contacts form#contactForm .fileUpload:hover, .contacts form#contactForm #delete-btn:hover {
      cursor: pointer; }
  .contacts form#contactForm .fileUpload input.upload {
    display: none; }
  .contacts form#contactForm .fileUpload input:hover {
    cursor: pointer; }
  .contacts form#contactForm .form__attach {
    padding-bottom: 30px; }
    .contacts form#contactForm .form__attach #selected-file {
      display: inline-block;
      overflow: hidden;
      min-width: 280px;
      max-width: 280px;
      text-align: center;
      vertical-align: middle; }

@font-face {
  font-family: "Monsterrat-Regular";
  src: url(../fonts/Montserrat-Regular.otf); }

@font-face {
  font-family: "Monsterrat-Light";
  src: url(../fonts/Montserrat-Light.otf); }

@font-face {
  font-family: "Montserrat-Hairline";
  src: url(../fonts/Montserrat-Hairline.otf); }

footer {
  padding-top: 50px;
  padding-bottom: 20px;
  background: #11364D; }
  @media (min-width: 768px) {
    footer {
      padding-top: 102px;
      padding-bottom: 70px; } }
  footer .footer__padding-bottom {
    padding-bottom: 17px; }
  footer .footer__padding-top {
    padding-top: 9px; }
  footer .footer_social-networks {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 27px; }
    footer .footer_social-networks a {
      padding-right: 10px; }
    @media (min-width: 768px) {
      footer .footer_social-networks {
        padding-top: 0 !important;
        text-align: right; }
        footer .footer_social-networks a {
          padding-left: 10px;
          padding-right: 0 !important; } }
  footer ul {
    margin: 0; }
  footer a {
    color: white;
    font-size: 14px;
    font-family: Monsterrat-Light;
    line-height: 26px;
    text-decoration: none; }
  footer a:hover {
    color: white;
    text-decoration: none; }
  footer a:focus {
    color: white;
    text-decoration: none; }
  footer .font_bold {
    font-family: Monsterrat-Bold; }

.overlay {
  background: #243C4C;
  opacity: 0.6;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh; }

@media (min-width: 768px) {
  .text-orange {
    color: #FD5412 !important; } }

@media (min-width: 768px) {
  .none-on-desctop {
    display: none !important; } }

@media (min-width: 768px) {
  .block-on-desctop {
    display: block !important; } }

.header {
  font-size: 14px;
  background: white;
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  width: 100%;
  min-height: 0; }
  @media (min-width: 768px) {
    .header {
      font-size: 16px;
      line-height: 19px; } }
  .header .navbar-collapse {
    max-height: none; }
  .header .navbar-header {
    padding-top: 12px;
    padding-bottom: 13px; }
    @media (min-width: 768px) {
      .header .navbar-header {
        padding-top: 18px;
        padding-bottom: 18px; } }
  .header .navbar__list {
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0; }
    .header .navbar__list .header_dropdown-list {
      overflow: hidden;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      padding-bottom: 0;
      padding: 0 0 0 24px;
      font-family: Monsterrat-Light; }
      @media (min-width: 768px) {
        .header .navbar__list .header_dropdown-list {
          padding: 0;
          margin-bottom: 0;
          width: 100%;
          text-align: right;
          position: fixed;
          top: 89px;
          background: #F4F5F5; }
          .header .navbar__list .header_dropdown-list li {
            display: inline-block; }
            .header .navbar__list .header_dropdown-list li a {
              background: #F4F5F5 !important; } }
    .header .navbar__list li {
      overflow: hidden; }
      .header .navbar__list li button {
        border: 0;
        background: none !important;
        padding-top: 21px;
        padding-bottom: 21px;
        text-align: right !important; }
      .header .navbar__list li.open img {
        transform: rotate(180deg); }
    .header .navbar__list a {
      display: block;
      padding-top: 21px;
      padding-bottom: 21px; }
      @media (min-width: 768px) {
        .header .navbar__list a {
          padding-top: 34px;
          padding-bottom: 35px; } }
    @media (min-width: 768px) {
      .header .navbar__list a {
        padding-right: 10px;
        padding-left: 20px; } }
    @media (min-width: 992px) {
      .header .navbar__list a {
        padding-right: 20px;
        padding-left: 25px; } }
    @media (min-width: 1200px) {
      .header .navbar__list a {
        padding-right: 35px;
        padding-left: 40px; } }
  .header .header_top_shadow {
    box-shadow: 0 -2px #F4F5F5; }
    @media (min-width: 768px) {
      .header .header_top_shadow {
        box-shadow: none; } }
  .header a {
    color: #11364D;
    background: white !important; }
  .header a:hover {
    text-decoration: none;
    background: white !important; }
  .header a:focus {
    text-decoration: none;
    background: white !important; }
  .header div {
    min-height: 0; }
  .header .header__menu-button {
    margin: 0; }
    .header .header__menu-button.collapsed img {
      transform: rotate(180deg); }
  .header .header__logo_text {
    vertical-align: middle;
    letter-spacing: 1.5px;
    padding-left: 13px; }

.home-page {
  padding-top: 65px; }
  @media (min-width: 768px) {
    .home-page {
      padding-top: 89px; } }
  .home-page .block-header {
    font-family: Monsterrat-Light;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 3.6px;
    padding-top: 50px;
    padding-bottom: 50px; }
    @media (min-width: 768px) {
      .home-page .block-header {
        padding-top: 90px;
        padding-bottom: 90px;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4px; } }
  .home-page .block-text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    font-family: Monsterrat-Light; }
  .home-page .with-value {
    background-image: url(../img/home_value_mobile.png);
    background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px; }
    @media (min-width: 768px) {
      .home-page .with-value {
        height: 785px;
        background-image: url(../img/home_value.png); } }
    .home-page .with-value .container {
      height: 100%;
      position: relative;
      text-align: center;
      font-family: Monsterrat-Regular;
      color: white; }
      .home-page .with-value .container .with-value__content {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%); }
        .home-page .with-value .container .with-value__content .with-value__content__header {
          display: block;
          font-size: 48px;
          line-height: 48px;
          letter-spacing: 1px;
          padding-bottom: 10px; }
          @media (min-width: 768px) {
            .home-page .with-value .container .with-value__content .with-value__content__header {
              font-size: 72px;
              line-height: 72px;
              letter-spacing: 4.32px; } }
        .home-page .with-value .container .with-value__content .with-value__content__text {
          display: block;
          padding-bottom: 16px;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.7px;
          font-family: Monsterrat-Light; }
          @media (min-width: 768px) {
            .home-page .with-value .container .with-value__content .with-value__content__text {
              font-size: 20px;
              line-height: 26px;
              letter-spacing: 1px; } }
        .home-page .with-value .container .with-value__content .with-value__content__btn {
          width: 165px;
          height: 40px;
          color: white;
          border: 0;
          background: #FD5412;
          font-size: 12px;
          font-family: Monsterrat-Regular;
          letter-spacing: 1px; }
          .home-page .with-value .container .with-value__content .with-value__content__btn:focus {
            outline: none; }
          @media (min-width: 768px) {
            .home-page .with-value .container .with-value__content .with-value__content__btn {
              width: 198px;
              height: 44px;
              font-size: 16px;
              letter-spacing: 1.33px; } }
      .home-page .with-value .container .with-value__down-content {
        width: 100%;
        position: absolute;
        bottom: 0; }
        .home-page .with-value .container .with-value__down-content .with-value__down-content__text {
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 1px; }
          @media (min-width: 768px) {
            .home-page .with-value .container .with-value__down-content .with-value__down-content__text {
              font-size: 14px;
                font-size-line-height: 17px;
                font-size-letter-spacing: 1.17px; } }
        .home-page .with-value .container .with-value__down-content .with-value__down-content__img {
          width: 0;
          margin: auto;
          display: block;
          padding-top: 24px;
          padding-bottom: 39px; }
          .home-page .with-value .container .with-value__down-content .with-value__down-content__img img {
            transform: translateX(-50%); }
  .home-page .why-crystalnix {
    background: #FD5412;
    color: white; }
    .home-page .why-crystalnix span {
      display: block;
      padding-bottom: 50px; }
      .home-page .why-crystalnix span .text-underline {
        display: inline; }
      @media (min-width: 768px) {
        .home-page .why-crystalnix span {
          padding-bottom: 65px; } }
    .home-page .why-crystalnix .why-crystalnix__content {
      text-align: center; }
      @media (min-width: 768px) {
        .home-page .why-crystalnix .why-crystalnix__content {
          text-align: left;
          padding-bottom: 25px; } }
    .home-page .why-crystalnix .why-crystalnix_content-header {
      font-family: Montserrat-Hairline;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.83px;
      padding-top: 17px;
      padding-bottom: 17px;
      margin-right: -20px; }
      @media (min-width: 768px) {
        .home-page .why-crystalnix .why-crystalnix_content-header {
          font-size: 24px;
          letter-spacing: 1px; } }
  .home-page .company .company__image {
    background-image: url(../img/home_company_mobile.png);
    background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 341px; }
    @media (min-width: 768px) {
      .home-page .company .company__image {
        height: 600px;
        background-image: url(../img/home_company.png); } }
  .home-page .company .company__content {
    background: white;
    color: #FD5412; }
    .home-page .company .company__content span {
      display: block; }
    .home-page .company .company__content .block-text {
      color: #11364D; }
    .home-page .company .company__content .container {
      padding-bottom: 50px; }
      @media (min-width: 768px) {
        .home-page .company .company__content .container {
          padding-bottom: 90px; } }
  .home-page .our-approach {
    background: #F4F5F5; }
    .home-page .our-approach .block-header {
      display: block; }
      @media (min-width: 768px) {
        .home-page .our-approach .block-header {
          padding-bottom: 50px; } }
    .home-page .our-approach .block-text {
      display: block; }
      @media (min-width: 768px) {
        .home-page .our-approach .block-text {
          padding-bottom: 85px; } }
    .home-page .our-approach .our-approach__content {
      text-align: left;
      padding-bottom: 50px;
      margin: auto;
      width: 270px; }
      @media (min-width: 768px) {
        .home-page .our-approach .our-approach__content {
          width: 100%;
          text-align: center;
          padding-bottom: 160px; } }
      .home-page .our-approach .our-approach__content .our-approach__block {
        position: relative;
        padding: 40px 0; }
        .home-page .our-approach .our-approach__content .our-approach__block .our-approach__block__img {
          width: 80px; }
          .home-page .our-approach .our-approach__content .our-approach__block .our-approach__block__img img {
            margin: auto; }
        @media (min-width: 768px) {
          .home-page .our-approach .our-approach__content .our-approach__block {
            padding: 0; } }
        .home-page .our-approach .our-approach__content .our-approach__block .our-approach__block__arrow {
          position: absolute;
          left: 40px;
          bottom: 0;
          transform: translate(-50%, 50%) rotate(90deg); }
          @media (min-width: 768px) {
            .home-page .our-approach .our-approach__content .our-approach__block .our-approach__block__arrow {
              top: 50%;
              left: 100%;
              transform: translate(-50%, -50%); } }
        .home-page .our-approach .our-approach__content .our-approach__block .our-approach__block__text {
          font-family: Monsterrat-Light;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.71px;
          position: absolute;
          padding-left: 85px;
          bottom: 50%;
          transform: translateY(50%); }
          @media (min-width: 768px) {
            .home-page .our-approach .our-approach__content .our-approach__block .our-approach__block__text {
              font-size: 24px;
              line-height: 24px;
              letter-spacing: 0.86px;
              bottom: -50px;
              padding-left: 0;
              transform: translateX(-50%);
              left: 50%; } }
  .home-page .our-partners {
    background: white; }
    .home-page .our-partners .block-header {
      display: block; }
    .home-page .our-partners .our-partners__block {
      height: 100%; }
    .home-page .our-partners .our-partners__block__text {
      display: block;
      padding: 15px 30px 60px 30px;
      font-family: Monsterrat-Light;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.5px; }
    .home-page .our-partners .container {
      box-shadow: 0 -2px #F4F5F5;
      padding-bottom: 30px; }
  .home-page .our-clients .block-header {
    display: block; }
  .home-page .our-clients .block-text {
    display: block; }
  .home-page .our-clients .container {
    padding-bottom: 50px; }
    @media (min-width: 768px) {
      .home-page .our-clients .container {
        padding-bottom: 90px; } }
  .home-page .our-clients .our-clients__content {
    padding-bottom: 10px; }
    @media (min-width: 768px) {
      .home-page .our-clients .our-clients__content {
        padding-bottom: 45px; } }
    .home-page .our-clients .our-clients__content img {
      -webkit-filter: grayscale(100%) opacity(30%);
      filter: grayscale(100%) opacity(30%); }
    .home-page .our-clients .our-clients__content img:hover {
      -webkit-filter: grayscale(0%) opacity(100%);
      filter: grayscale(0%) opacity(100%);
      cursor: pointer; }
    .home-page .our-clients .our-clients__content .our-clients__content__block {
      padding: 0 0 30px 0; }

.nopadding {
  padding: 0 !important; }

.main-font {
  font-family: Monsterrat-Regular;
  color: #11364D !important; }

.text-underline {
  text-decoration: underline; }

.page-logo {
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px; }
  @media (min-width: 768px) {
    .page-logo {
      height: 785px; } }
  .page-logo .container {
    height: 100%;
    position: relative;
    text-align: center; }
    .page-logo .container .page-logo__content {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      color: white; }
      .page-logo .container .page-logo__content .page-logo__content__header {
        font-family: Monsterrat-Regular;
        display: block;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 1px;
        padding-bottom: 30px; }
        @media (min-width: 768px) {
          .page-logo .container .page-logo__content .page-logo__content__header {
            font-size: 50px;
            line-height: 60px;
            letter-spacing: 4px;
            padding-bottom: 25px; } }
      .page-logo .container .page-logo__content .page-logo__content__text {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 650px;
        margin: auto;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.56px;
        font-family: Monsterrat-Light; }
        @media (min-width: 768px) {
          .page-logo .container .page-logo__content .page-logo__content__text {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.7px; } }
    .page-logo .container .page-logo__down-content {
      width: 100%;
      position: absolute;
      bottom: 0; }
      .page-logo .container .page-logo__down-content .page-logo__down-content__img {
        padding-bottom: 45px; }
        @media (min-width: 768px) {
          .page-logo .container .page-logo__down-content .page-logo__down-content__img {
            padding-bottom: 75px; } }

.blogs {
  padding-top: 65px; }
  @media (min-width: 768px) {
    .blogs {
      padding-top: 89px; } }
  .blogs .block-header {
    font-family: Monsterrat-Light;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 3.6px;
    padding-top: 40px;
    padding-bottom: 50px; }
    @media (min-width: 768px) {
      .blogs .block-header {
        padding-top: 100px;
        padding-bottom: 60px;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4px; } }
  .blogs .block-text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    font-family: Monsterrat-Light; }
  .blogs .page-logo {
    background-color: #F4F5F5;
    background-image: url(../img/our_blog/blog_background_mobile.png); }
    @media (min-width: 768px) {
      .blogs .page-logo {
        background-image: url(../img/our_blog/blog_background.png); } }
    .blogs .page-logo .page-logo__content {
      color: #11364D; }
  .blogs .blogs-filter {
    position: relative; }
    .blogs .blogs-filter .slick-arrow {
      background: black; }
    .blogs .blogs-filter .slick-slider {
      margin-bottom: 0; }
    .blogs .blogs-filter .slick-slide:hover {
      cursor: pointer; }
    .blogs .blogs-filter .slick-slide:focus {
      outline: none; }
    .blogs .blogs-filter .dropdown {
      width: 100%;
      display: inline-block;
      padding: 0 37px; }
      @media (min-width: 768px) {
        .blogs .blogs-filter .dropdown {
          width: auto;
          position: static; }
          .blogs .blogs-filter .dropdown .dropdown-menu {
            position: absolute !important; } }
      .blogs .blogs-filter .dropdown .dropdown-menu {
        width: 100%;
        box-shadow: none;
        position: static;
        margin: 0;
        border: 0;
        border-radius: 0;
        text-align: center; }
      .blogs .blogs-filter .dropdown .filter-elem {
        color: #11364D;
        text-decoration: none;
        padding: 35px 0;
        display: block;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1.05px;
        font-family: Monsterrat-Regular; }
        .blogs .blogs-filter .dropdown .filter-elem:hover {
          color: #FD5412; }
      .blogs .blogs-filter .dropdown.open a:focus {
        color: #FD5412; }

.services {
  padding-top: 65px; }
  @media (min-width: 768px) {
    .services {
      padding-top: 89px; } }
  .services .block-header {
    font-family: Monsterrat-Light;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 3.6px;
    padding-top: 40px;
    padding-bottom: 50px; }
    @media (min-width: 768px) {
      .services .block-header {
        padding-top: 100px;
        padding-bottom: 60px;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4px; } }
  .services .block-text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    font-family: Monsterrat-Light; }
  .services .page-logo {
    background-color: #FD5412;
    background-image: url(../img/our_services/services_background_mobile.png); }
    @media (min-width: 768px) {
      .services .page-logo {
        background-image: url(../img/our_services/services_background.png); } }
  .services .product {
    background: #F4F5F5; }
    .services .product .block-text {
      padding-left: 15px;
      padding-right: 15px; }
    .services .product span {
      display: block; }
    .services .product .block-header_second {
      font-family: Monsterrat-Light;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.83px;
      padding-bottom: 45px; }
      @media (min-width: 768px) {
        .services .product .block-header_second {
          font-size: 24px;
          line-height: 29px;
          letter-spacing: 1.8px;
          padding-bottom: 55px; } }
    .services .product .product__content {
      margin: 0;
      padding-top: 43px;
      padding-bottom: 10px; }
      @media (min-width: 768px) {
        .services .product .product__content {
          padding-top: 73px;
          padding-bottom: 40px; } }
      .services .product .product__content .product__content__wrapper {
        padding: 0; }
      .services .product .product__content .product__content__block {
        padding-bottom: 54px; }
        .services .product .product__content .product__content__block .block-text {
          padding: 0; }
        .services .product .product__content .product__content__block .product__content__block__title {
          padding-bottom: 26px;
          padding-top: 26px;
          font-family: Montserrat-Hairline;
          color: #FD5412;
          font-size: 24px;
          line-height: 26px;
          letter-spacing: 0; }
  .services .post {
    background: #F4F5F5; }
    .services .post .block-text {
      padding-left: 15px;
      padding-right: 15px; }
    .services .post span {
      display: block; }
    .services .post .block-header_second {
      font-family: Monsterrat-Light;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.83px;
      padding-bottom: 45px; }
      @media (min-width: 768px) {
        .services .post .block-header_second {
          font-size: 24px;
          line-height: 29px;
          letter-spacing: 1.8px;
          padding-bottom: 55px; } }
    .services .post .post__content {
      margin: 0;
      padding-bottom: 10px; }
      @media (min-width: 768px) {
        .services .post .post__content {
          padding-bottom: 40px; } }
      .services .post .post__content .post__content__block {
        padding-bottom: 54px; }
        .services .post .post__content .post__content__block .block-text {
          padding: 0; }
        .services .post .post__content .post__content__block .post__content__block__title {
          padding-bottom: 26px;
          padding-top: 26px;
          font-family: Montserrat-Hairline;
          color: #FD5412;
          font-size: 24px;
          line-height: 26px;
          letter-spacing: 0; }
  .services .bespoke .block-header {
    display: block; }
  .services .bespoke .block-text {
    display: block; }
  .services .bespoke .slick-slider {
    margin: 0; }
  .services .bespoke .slick-slide:hover {
    cursor: pointer; }
  .services .bespoke .slide:focus {
    outline: none; }
  .services .bespoke .cloud__header {
    color: #FD5412; }
  @media (min-width: 992px) {
    .services .bespoke .slide {
      height: 100px;
      position: relative; } }
  .services .bespoke #internet .row, .services .bespoke #business .row, .services .bespoke #solutions .row, .services .bespoke #migration .row {
    margin: 0; }
  @media (min-width: 992px) {
    .services .bespoke #business .bespoke__list.bespoke__list_left-padding {
      padding-left: 40px; } }
  .services .bespoke #hybrid, .services .bespoke #websites, .services .bespoke #internet, .services .bespoke #business, .services .bespoke #social, .services .bespoke #solutions, .services .bespoke #continuous, .services .bespoke #migration {
    display: none; }
  .services .bespoke .bespoke__list {
    margin: 0;
    padding-right: 0;
    padding-left: 20px;
    list-style-type: disc; }
    .services .bespoke .bespoke__list li {
      padding-top: 22px;
      font-size: 20px; }
  .services .bespoke .bespoke__list-text {
    display: block;
    font-family: Monsterrat-Light;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.4px; }
    .services .bespoke .bespoke__list-text .bespoke__list-pointer {
      position: absolute;
      font-size: 40px;
      line-height: 22px; }
  .services .bespoke #migration .bespoke__list-text {
    padding-right: 15px; }
  .services .bespoke .bespoke__slider {
    padding-bottom: 40px; }
    @media (min-width: 768px) {
      .services .bespoke .bespoke__slider {
        padding-bottom: 100px; } }
    .services .bespoke .bespoke__slider .block-header {
      padding-top: 0;
      font-size: 24px;
      line-height: 26px;
      letter-spacing: 1px;
      padding-bottom: 61px; }
      @media (min-width: 768px) {
        .services .bespoke .bespoke__slider .block-header {
          font-size: 24px;
          line-height: 29px;
          letter-spacing: 2.4px;
          padding-bottom: 93px; } }
    .services .bespoke .bespoke__slider .bespoke__slider__container img {
      padding-top: 20px; }
    .services .bespoke .bespoke__slider .bespoke__slider__container.mobile_mode .bespoke__slider__content {
      background: #FD5412; }
    .services .bespoke .bespoke__slider .bespoke__slider__container.cloud_mode .bespoke__slider__content {
      background: #11364D; }
    .services .bespoke .bespoke__slider .bespoke__slider__content {
      color: white;
      margin-top: -2px;
      border-radius: 5px;
      padding: 30px 15px 30px 15px; }
      @media (min-width: 768px) {
        .services .bespoke .bespoke__slider .bespoke__slider__content {
          padding: 50px 100px 50px 100px; } }
    .services .bespoke .bespoke__slider .slide-text {
      position: absolute;
      display: block;
      width: 100%;
      text-align: center;
      top: 70px;
      font-family: Monsterrat-Light;
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0.78px; }
    .services .bespoke .bespoke__slider .slide-name {
      display: block;
      text-align: center;
      padding-top: 10px;
      font-family: Monsterrat-Light;
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0.78px; }
    .services .bespoke .bespoke__slider .slider-mobile .slide-0 .slide-image {
      margin: auto;
      content: url(../img/our_services/bespoke/hybrid_mobile.png); }
    .services .bespoke .bespoke__slider .slider-mobile .slide-0.slick-center .slide-image {
      margin: auto;
      content: url(../img/our_services/bespoke/hybrid_active_mobile.png); }
    .services .bespoke .bespoke__slider .slider-mobile .slide-1 .slide-image {
      margin: auto;
      content: url(../img/our_services/bespoke/websites_mobile.png); }
    .services .bespoke .bespoke__slider .slider-mobile .slide-1.slick-center .slide-image {
      margin: auto;
      content: url(../img/our_services/bespoke/websites_active_mobile.png); }
    .services .bespoke .bespoke__slider .slider-mobile .slide-2 .slide-image {
      margin: auto;
      content: url(../img/our_services/bespoke/social_mobile.png); }
    .services .bespoke .bespoke__slider .slider-mobile .slide-2.slick-center .slide-image {
      margin: auto;
      content: url(../img/our_services/bespoke/social_active_mobile.png); }
    .services .bespoke .bespoke__slider .slider-mobile .slide-3 .slide-image {
      margin: auto;
      content: url(../img/our_services/bespoke/internet_mobile.png); }
    .services .bespoke .bespoke__slider .slider-mobile .slide-3.slick-center .slide-image {
      margin: auto;
      content: url(../img/our_services/bespoke/internet_active_mobile.png); }
    .services .bespoke .bespoke__slider .slider-mobile .slide-4 .slide-image {
      margin: auto;
      content: url(../img/our_services/bespoke/business_mobile.png); }
    .services .bespoke .bespoke__slider .slider-mobile .slide-4.slick-center .slide-image {
      margin: auto;
      content: url(../img/our_services/bespoke/business_active_mobile.png); }
    @media (min-width: 768px) {
      .services .bespoke .bespoke__slider .slider-mobile .slide-0 .slide-image {
        margin: auto;
        content: url(../img/our_services/bespoke/hybrid.png); }
      .services .bespoke .bespoke__slider .slider-mobile .slide-0.slick-center .slide-image {
        margin: auto;
        content: url(../img/our_services/bespoke/hybrid_active.png); }
      .services .bespoke .bespoke__slider .slider-mobile .slide-1 .slide-image {
        margin: auto;
        content: url(../img/our_services/bespoke/websites.png); }
      .services .bespoke .bespoke__slider .slider-mobile .slide-1.slick-center .slide-image {
        margin: auto;
        content: url(../img/our_services/bespoke/websites_active.png); }
      .services .bespoke .bespoke__slider .slider-mobile .slide-2 .slide-image {
        margin: auto;
        content: url(../img/our_services/bespoke/social.png); }
      .services .bespoke .bespoke__slider .slider-mobile .slide-2.slick-center .slide-image {
        margin: auto;
        content: url(../img/our_services/bespoke/social_active.png); }
      .services .bespoke .bespoke__slider .slider-mobile .slide-3 .slide-image {
        margin: auto;
        content: url(../img/our_services/bespoke/internet.png); }
      .services .bespoke .bespoke__slider .slider-mobile .slide-3.slick-center .slide-image {
        margin: auto;
        content: url(../img/our_services/bespoke/internet_active.png); }
      .services .bespoke .bespoke__slider .slider-mobile .slide-4 .slide-image {
        margin: auto;
        content: url(../img/our_services/bespoke/business.png); }
      .services .bespoke .bespoke__slider .slider-mobile .slide-4.slick-center .slide-image {
        margin: auto;
        content: url(../img/our_services/bespoke/business_active.png); } }
    .services .bespoke .bespoke__slider .slider-cloud .slide-0 .slide-image {
      margin: auto;
      content: url(../img/our_services/bespoke/solutions_mobile.png); }
    .services .bespoke .bespoke__slider .slider-cloud .slide-0.slick-center .slide-image {
      margin: auto;
      content: url(../img/our_services/bespoke/solutions_active_mobile.png); }
    .services .bespoke .bespoke__slider .slider-cloud .slide-1 .slide-image {
      margin: auto;
      content: url(../img/our_services/bespoke/continuous_mobile.png); }
    .services .bespoke .bespoke__slider .slider-cloud .slide-1.slick-center .slide-image {
      margin: auto;
      content: url(../img/our_services/bespoke/continuous_active_mobile.png); }
    .services .bespoke .bespoke__slider .slider-cloud .slide-2 .slide-image {
      margin: auto;
      content: url(../img/our_services/bespoke/migration_mobile.png); }
    .services .bespoke .bespoke__slider .slider-cloud .slide-2.slick-center .slide-image {
      margin: auto;
      content: url(../img/our_services/bespoke/migration_active_mobile.png); }
    @media (min-width: 768px) {
      .services .bespoke .bespoke__slider .slider-cloud .slide-0 .slide-image {
        margin: auto;
        content: url(../img/our_services/bespoke/solutions.png); }
      .services .bespoke .bespoke__slider .slider-cloud .slide-0.slick-center .slide-image {
        margin: auto;
        content: url(../img/our_services/bespoke/solutions_active.png); }
      .services .bespoke .bespoke__slider .slider-cloud .slide-1 .slide-image {
        margin: auto;
        content: url(../img/our_services/bespoke/continuous.png); }
      .services .bespoke .bespoke__slider .slider-cloud .slide-1.slick-center .slide-image {
        margin: auto;
        content: url(../img/our_services/bespoke/continuous_active.png); }
      .services .bespoke .bespoke__slider .slider-cloud .slide-2 .slide-image {
        margin: auto;
        content: url(../img/our_services/bespoke/migration.png); }
      .services .bespoke .bespoke__slider .slider-cloud .slide-2.slick-center .slide-image {
        margin: auto;
        content: url(../img/our_services/bespoke/migration_active.png); } }

.works {
  padding-top: 65px; }
  @media (min-width: 768px) {
    .works {
      padding-top: 89px; } }
  .works .block-header {
    font-family: Monsterrat-Light;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 3.6px;
    padding-top: 40px;
    padding-bottom: 50px; }
    @media (min-width: 768px) {
      .works .block-header {
        padding-top: 100px;
        padding-bottom: 60px;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4px; } }
  .works .block-text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    font-family: Monsterrat-Light; }
  .works .page-logo {
    background-color: #11364D;
    background-image: url(../img/our_work/work_background_mobile.png); }
    @media (min-width: 768px) {
      .works .page-logo {
        background-image: url(../img/our_work/work_background.png); } }
  .works .works-filter {
    position: relative; }
    .works .works-filter .slick-arrow {
      background: black; }
    .works .works-filter .slick-slider {
      margin-bottom: 0; }
    .works .works-filter .slick-slide:hover {
      cursor: pointer; }
    .works .works-filter .slick-slide:focus {
      outline: none; }
    .works .works-filter .dropdown {
      width: 100%;
      display: inline-block;
      padding: 0 37px; }
      @media (min-width: 768px) {
        .works .works-filter .dropdown {
          width: auto;
          position: static; }
          .works .works-filter .dropdown .dropdown-menu {
            position: absolute !important; } }
      .works .works-filter .dropdown .dropdown-menu {
        width: 100%;
        box-shadow: none;
        position: static;
        margin: 0;
        border: 0;
        border-radius: 0;
        text-align: center; }
      .works .works-filter .dropdown .filter-elem {
        color: #11364D;
        text-decoration: none;
        padding: 35px 0;
        display: block;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1.05px;
        font-family: Monsterrat-Regular; }
        .works .works-filter .dropdown .filter-elem:hover {
          color: #FD5412; }
      .works .works-filter .dropdown.open a:focus {
        color: #FD5412; }
  .works .work-background {
    background: #F4F5F5; }
  .works .works__work {
    padding-top: 30px;
    padding-bottom: 30px; }
    .works .works__work .works__work__descripton span {
      display: block; }
    .works .works__work .works__work__descripton button {
      width: 143px;
      height: 40px;
      color: white;
      border: 0;
      background: #FD5412;
      font-size: 12px;
      font-family: Monsterrat-Regular;
      letter-spacing: 1px; }
      .works .works__work .works__work__descripton button:focus {
        outline: none; }
      @media (min-width: 768px) {
        .works .works__work .works__work__descripton button {
          width: 198px;
          height: 44px;
          font-size: 16px;
          letter-spacing: 1.33px; } }
    .works .works__work .works__work__descripton .works__work__descripton__title {
      font-family: Montserrat-Light;
      font-size: 36px;
      color: #FD5412;
      letter-spacing: 3.59px;
      line-height: 43px; }
      @media (min-width: 768px) {
        .works .works__work .works__work__descripton .works__work__descripton__title {
          font-size: 40px;
          color: #FD5412;
          letter-spacing: 4px;
          line-height: 48px; } }
    .works .works__work .works__work__descripton .works__work__descripton__year {
      font-family: Montserrat-Light;
      font-size: 20px;
      color: #11364D;
      letter-spacing: 1.25px;
      line-height: 24px;
      padding-bottom: 28px; }
    .works .works__work .works__work__descripton .works__work__descripton__type-of-work {
      font-family: Montserrat-Regular;
      font-size: 14px;
      color: #11364D;
      line-height: 26px;
      letter-spacing: 0; }
    .works .works__work .works__work__descripton .works__work__descripton__icons {
      padding-top: 28px; }
