$screen-sm-min: 768px
$screen-md-min: 992px

.contacts
    padding-top: 65px
    @media (min-width: $screen-sm-min)
        padding-top: 89px
    .block-header
        display: block
        font-family: Monsterrat-Light
        font-size: 36px
        line-height: 43px
        letter-spacing: 3.6px
        padding-top: 65px
        padding-bottom: 40px
        @media (min-width: $screen-sm-min)
            padding-top: 70px
            padding-bottom: 50px
            font-size: 40px
            line-height: 48px
            letter-spacing: 4px
    .block-text
        display: block
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.5px
        font-family: Monsterrat-Light
    .contact-us
        color: #11364D
        background: #F4F5F5
        .block-text
            font-family: Monsterrat-Regular
        .contact-us__email-logo
            padding-bottom: 15px
        .contact-us__contact-title
            font-family: Montserrat-Hairline
            color: #FD5412
            font-size: 24px
            letter-spacing: 2.4px
            line-height: 29px
        .contact-us__photo
            width: 100%
            max-width: 309px
            padding-top: 23px
            padding-bottom: 45px
            @media (min-width: $screen-sm-min)
                width: auto
                max-width: none
                padding-top: 34px
                padding-bottom: 40px
        .contact-us__info
            padding: 0 0 35px 0
            @media (min-width: $screen-sm-min)
                min-height: 189px
            img
                padding-bottom: 10px
        .contact-us__content
            padding-top: 50px
            padding-bottom: 50px
        .contact-us_wrapper
            overflow: hidden
            display: inline-block
            margin: 0
            padding: 0
            width: 100%
            max-width: 309px
            @media (min-width: $screen-sm-min)
                display: block
                max-width: none
                width: auto