{% extends "base.html" %}
{% set active_page = 'blog' -%}
{% block content %}
<div class="content article-content">
    <div class="article-header text-center"
         style="background-image: url({% if background_image %}{{background_image}}{% else %}{{URL.IMG}}/article/header_article.png{% endif %})">

        <div class="article-title">
            {{ article.title }}
        </div>

        <div class="article-author">
            By {{ article.author }}, {{ article.date.strftime('%d.%m.%Y') }}
        </div>

        <div class="article-tags">
            <span class="sharp">#</span>
            {% for tag in article.tags %}
                <span class="tag">{{ tag.name }}</span>
            {% endfor %}
        </div>

    </div>

    <div class="article-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10">
                    {{ article.content }}
                </div>
            </div>
        </div>
    </div>

    <div class="share-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10">
                    <div class="share-title  text-center">
                        Like what you’ve seen?
                    </div>
                    <div class="row share-btns">
                        <div class="col-sm-6 col-xs-12 text-center">
                            <button id="touchButton" class="btn">GET IN TOUCH</button>
                        </div>

                        <div class="col-sm-6 col-xs-12 text-center">
                            <button id="shareButton" class="btn"><span><img src="/theme/img/article/share_icon.png"> SHARE</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blog-navigation text-center">

        <div id="left-arrow">
            {% if article.prev_article %}
                <a href="/{{ article.prev_article.url}}">
                    <img src="/theme/img/article/left_arrow.png">
                </a>
            {% endif %}
        </div>

        <div id="list-articles">
            <a href="{{ BLOG_URL }}">
                <img src="/theme/img/article/list_articles.png">
            </a>
        </div>

        <div id="right-arrow">
            {% if article.next_article %}
                <a href="/{{ article.next_article.url}}">
                    <img src="/theme/img/article/right_arrow.png">
                </a>
            {% endif %}
        </div>

    </div>

    <div class="related-articles">

        <div class="related-articles-header text-center">
            You might also like
        </div>

        <div class="container">

            <div class="row">

                <div class="col-lg-offset-1 col-lg-10 related-articles-list row">

                    {% for a in article.related_posts %}

                        <div class="col-sm-3 col-xs-12 related-article">

                            <div class="related-article-title">
                                {{ a.title }}
                            </div>

                            <div class="related-article-author">
                                 By {{ a.author }}, {{ a.date.strftime('%d.%m.%Y') }}
                            </div>

                            <button class="read-more-btn btn">READ MORE</button>

                        </div>

                    {% endfor %}

                </div>

            </div>

        </div>

    </div>

    <div class="popular">

        <div class="container">

            <div class="row">

                <div class="col-lg-offset-1 col-lg-10 row">

                    <div class="col-sm-4 col-xs-12 popular-tags">

                        <div class="title">
                            Popular tags
                        </div>

                        <div class="list">
                            {% for tag in tags|map(attribute=0)|sort(attribute='articles_counter', reverse=true) %}
                                <div class="element">{{tag.name}} ({{tag.articles_counter}})</div>
                            {% endfor %}
                        </div>

                    </div>

                    <div class="col-sm-4 col-xs-12 popular-authors">

                        <div class="title">
                            Popular authors
                        </div>

                        <div class="list">
                            <div class="element">Dmitry Lyfar (21)</div>
                            <div class="element">Anton Kuznetsov (19)</div>
                            <div class="element">Roman Kudiyarov (14)</div>
                        </div>

                    </div>

                    <div class="col-sm-4 col-xs-12 last-articles">

                        <div class="title">
                            Trending posts
                        </div>

                        <div class="list">
                            {% for a in articles[:3] %}
                            <a href="/{{ a.url }}">
                                <div class="element article">{{ a.title }}</div>
                            </a>
                            {% endfor %}
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}