<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <link rel="icon" href="/theme/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/theme/img/favicon.ico" />
    <link href="/theme/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/theme/css/styles.css" />
    {% endblock head %}
</head>

<body class="main-font">
    {%- set active_page = active_page|default(None) -%}
    <nav class="header navbar navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="navbar-header col-lg-3 col-md-3 col-sm-1">
                    <a href="/">
                        <img class="hidden-xs" src="/theme/img/logo.png" alt="logo">
                        <img class="visible-xs pull-left" src="/theme/img/logo_mobile.png" alt="logo">
                        <span class="header__logo_text hidden-xs hidden-sm">
                            CRYSTALNIX
                        </span>
                    </a>
                    <button type="button" class="header__menu-button navbar-toggle collapsed" data-toggle="collapse" data-target="#responsive-navbar">
                        Menu
                        <img src="/theme/img/menu_arrow_up.png">
                    </button>
                </div>
                <div class="header_top_shadow col-lg-9 col-md-9 col-sm-11">
                    <div class="collapse navbar-collapse" id="responsive-navbar">
                        <ul class="navbar__list nav navbar-nav">
                            <li class="dropdown">
                                <a href="/" class="col-xs-10 col-sm-12 {% if active_page == 'index' %}text-orange{% endif %}">
                                    Who we are
                                    <img class="hidden-xs" src="/theme/img/menu{% if active_page == 'index' %}_active{% endif %}_arrow_down.png">
                                </a>
                                <button class="col-xs-2 visible-xs btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><img src="/theme/img/menu_arrow_down.png"></button>
                                <ul class="header_dropdown-list dropdown-menu">
                                    <div class="container">
                                        <li><a href="/#crystalnix">Why Crystalnix</a></li>
                                        <li><a href="/#company">Company</a></li>
                                        <li><a href="/#approach">Our approach</a></li>
                                        <li><a href="/#clients">Our clients</a></li>
                                        <li><a href="/#partners">Our partners</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="/services.html" class="col-xs-10 col-sm-12 {% if active_page == 'services' %}text-orange{% endif %}">
                                    Our services
                                    <img class="hidden-xs" src="/theme/img/menu{% if active_page == 'services' %}_active{% endif %}_arrow_down.png">
                                </a>
                                <button class="col-xs-2 visible-xs btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><img src="/theme/img/menu_arrow_down.png"></button>
                                <ul class="header_dropdown-list dropdown-menu">
                                    <div class="container">
                                        <li><a href="/services/#product">Product Development</a></li>
                                        <li><a href="/services/#bespoke">Bespoke Business Apps + Tools</a></li>
                                        <li><a href="/services/#post">Post Release Maintenance</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle {% if active_page == 'projects' %}text-orange{% endif %}" href="/projects/">Our work</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle {% if active_page == 'contacts' %}text-orange{% endif %}" href="/contacts.html">Contact us</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle {% if active_page == 'blog' %}text-orange{% endif %}" href="/blog/">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="overlay" style="display:none;"></div>

    {% block content %}
    {% endblock %}

     <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 row">
                    <ul class="col-md-3 col-sm-4 list-unstyled nopadding">
                        <li class="footer__padding-bottom">
                            <a href="#">
                                <strong>Who we are</strong>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Why Crystalnix
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Our Approach
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Our Clients
                            </a>
                        </li>
                        <li class="footer__padding-bottom">
                            <a href="#">
                                Our Partners
                            </a>
                        </li>
                    </ul>
                    <ul class="col-md-4 col-sm-4 list-unstyled nopadding">
                        <li class="footer__padding-bottom">
                            <a href="#">
                                <strong>Our services</strong>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Product Development
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Broke Business Apps + Tools
                            </a>
                        </li>
                        <li class="footer__padding-bottom">
                            <a href="#">
                                Post Release Maintenance
                            </a>
                        </li>
                        <li class="footer__padding-top">
                            <a href="#">
                                <strong>Our work</strong>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <strong>Contact us</strong>
                            </a>
                        </li>
                        <li class="footer__padding-bottom">
                            <a href="#">
                                <strong>Blog</strong>
                            </a>
                        </li>
                    </ul>
                    <div class="footer_social-networks col-md-3 col-sm-4 col-md-offset-2">
                        <a>
                            <img src="/theme/img/facebook.png">
                        </a>
                        <a>
                            <img src="/theme/img/fill.png">
                        </a>
                        <a>
                            <img src="/theme/img/twitter.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row footer__padding-bottom">
                <a class="col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2" href="#"><strong>&copy CRYSTALNIX 2015</strong></a>
            </div>
        </div>
    </footer>

{% block scripts %}
    <script src="/theme/js/jquery.min.js"></script>
    <script src="/theme/js/bootstrap.min.js"></script>
    <script src="/theme/js/respond.min.js"></script>
    <script src="/theme/js/html5shiv.min.js"></script>
    <script src="/theme/js/page.navigation.js"></script>
{% endblock %}
</body>
</html>