{% extends "base.html" %}
{% set active_page = 'contacts' -%}
{% block content %}
    <div class="content contacts">

        <div class="contact-us">
            <div class="container text-center">
                <span class="block-header">
                    Contact us
                </span>
                <img class="contact-us__email-logo" src="/theme/img/contacts/email.png">
                <span class="block-text">
                    contacts@crystalnix.com
                </span>
                <div class="row text-left contact-us__content">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-6 col-xs-12 text-center">
                        <div class="contact-us_wrapper text-left">
                            <span class="contact-us__contact-title">
                                Wellington
                            </span>
                            <span class="block-text">
                                Headquarters
                            </span>
                            <img class="visible-xs visible-sm contact-us__photo" src="/theme/img/contacts/wellington_mobile.png">
                            <img class="hidden-xs hidden-sm contact-us__photo" src="/theme/img/contacts/wellington.png">
                            <div class="col-xs-7 col-md-4 contact-us__info">
                                <img src="/theme/img/contacts/location.png">
                                <span class="block-text">
                                    115 Tory St,<br>  Te Aro,<br>
                                    Wellington, 6011, <br>
                                    New Zealand
                                </span>
                            </div>
                            <div class="col-xs-5 col-md-4 contact-us__info">
                                <img src="/theme/img/contacts/phone.png">
                                <span class="block-text">
                                    +64 98893020
                                </span>
                            </div>
                            <div class="col-xs-7 col-md-4 contact-us__info">
                                <img src="/theme/img/contacts/time_zone.png">
                                <span class="block-text">
                                    Time zone <br>
                                    UTC/GMT +12
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-6 col-xs-12 text-center">
                        <div class="contact-us_wrapper text-left">
                            <span class="contact-us__contact-title">
                                Omsk
                            </span>
                            <span class="block-text">
                                Development branch
                            </span>
                            <img class="visible-xs visible-sm contact-us__photo" src="/theme/img/contacts/omsk_mobile.png">
                            <img class="hidden-xs hidden-sm contact-us__photo" src="/theme/img/contacts/omsk.png">
                            <div class="col-xs-7 col-md-4 contact-us__info">
                                <img src="/theme/img/contacts/location.png">
                                <span class="block-text">
                                    Office 1001, <br>
                                    35 T.K. <br>
                                    Shcherbaneva St <br>
                                    Omsk, 644024  <br>
                                    Russian Federation
                                </span>
                            </div>
                            <div class="col-xs-5 col-md-4 contact-us__info">
                                <img src="/theme/img/contacts/phone.png">
                                <span class="block-text">
                                    +7 9609994712
                                </span>
                            </div>
                            <div class="col-xs-7 col-md-4 contact-us__info">
                                <img src="/theme/img/contacts/time_zone.png">
                                <span class="block-text">
                                    Time zone <br>
                                    UTC/GMT +7
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contacts-form container">
                <span class="block-header text-center">
                    Got an idea?
                </span>
                <form id="contactForm" role="form" class="form-horizontal col-lg-10 col-lg-offset-1 nopadding"
                      accept-charset="UTF-8" action="https://getsimpleform.com/messages?form_api_token={{ SIMPLE_FORM_TOKEN }}"
                      method="post" enctype="multipart/form-data">

                    <input type='hidden' name='redirect_to' value="http://{{ SITE_URL }}/contacts.html" />

                    <div class="form-part-one">

                        <span class="col-md-8 col-md-offset-2 block-text text-center">
                            We’d love to hear about your ideas! Introduce yourself and let us know how we can get in touch with you,
                            then we’ll grab some details about your project.
                        </span>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="inputName" name="name" placeholder="Name" required/>
                            </div>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="inputPhone" name="phone" placeholder="Phone (optional)"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea rows="5"
                                          name="message"
                                          class="form-control"
                                          id="inputMessage"
                                          placeholder="Message"
                                          required></textarea>
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <button id="nextButton" type="submit" class="btn">NEXT</button>
                        </div>

                    </div>

                    <div class="form-part-two">
                        <span class="col-md-10 col-md-offset-1 block-text text-center">
                            Is there anything you can tell us about your project already so we can get this started?
                            Don’t worry if you’re not sure yet, you can leave us a brief message in the next step.
                        </span>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="inputBudget" name="budget" placeholder="Budget (optional)"/>
                            </div>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="inputDeadline" name="phone" placeholder="Deadline (optional)"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea rows="5"
                                          name="projectDetails"
                                          class="form-control"
                                          id="inputProjectDetails"
                                          placeholder="Project details (optional)"></textarea>
                            </div>
                        </div>

                        <div class="form-group text-center form__attach">
                            <span id="selected-file">or attach request for proposal (optional)</span>
                            <div class="fileUpload btn" id="attach-btn">
                                <span><img src="/theme/img/contacts/clip.png"> ATTACH</span>
                                <input type="file" name="file" placeholder="ATTACH" class="form-control upload" multiple/>
                            </div>
                            <div class="btn" id="delete-btn">
                                <span><img src="/theme/img/contacts/clip.png"> DELETE</span>
                            </div>
                        </div>



                        <div class="form-group text-center">
                                <button id="backButton" type="button" class="btn">BACK</button>

                                <button id="submitButton" type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </div>

                </form>
            </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/theme/js/jquery.validate.min.js"></script>
    <script src="/theme/js/page.contacts.form.js"></script>
{% endblock %}