{% extends "base.html" %}
{% set active_page = 'works' -%}
{% block content %}

    <div class="content home-page">
      <div>
      {{ page.content }}
      </div>

      {% if page.prev_page %}
        <p class="prevpage"><i class="fa fa-arrow-left"></i> Older<br />
        <a href=" /{{ page.prev_page.url}}">{{ page.prev_page.title }}</a></p>
      {% endif %}

      {% if page.next_page %}
        <p class="nextpage">Newer <i class="fa fa-arrow-right"></i><br />
        <a href="/{{ page.next_page.url}}">{{ page.next_page.title }}</a></p>
      {% endif %}
</div>
{% endblock %}
