$screen-sm-min: 768px

footer
    padding-top: 50px
    padding-bottom: 20px
    background: #11364D
    @media (min-width: $screen-sm-min)
        padding-top: 102px
        padding-bottom: 70px
    .footer__padding-bottom
        padding-bottom: 17px
    .footer__padding-top
        padding-top: 9px
    .footer_social-networks
        padding-left: 0
        padding-right: 0
        padding-top: 10px
        padding-bottom: 27px
        a
            padding-right: 10px
        @media (min-width: $screen-sm-min)
            padding-top: 0 !important
            text-align: right
            a
                padding-left: 10px
                padding-right: 0 !important
    ul
        margin: 0
    a
        color: white
        font-size: 14px
        font-family: Monsterrat-Light
        line-height: 26px
        text-decoration: none
    a:hover
        color: white
        text-decoration: none
    a:focus
        color: white
        text-decoration: none
    .font_bold
        font-family: Monsterrat-Bold

