.header
    background: white
    padding-top: 12px
    padding-bottom: 12px
    margin-bottom: 0
    font-size: 14px
    border-radius: 0
    width: 100%
    .header__meny-button
        margin: 0
        padding-right: 0
    a
        padding-top: 30px !important
        padding-right: 0px !important
        padding-left: 0px !important
        color: #11364D !important
        background: white !important
    a:hover
        color: #FD5412 !important
        background: white !important
    .header__logo_text
        letter-spacing: 1.5px
        padding-left: 13px
    .navbar__list
        letter-spacing: 1px




