<!DOCTYPE html>
<html lang="en" ng ng-app="ngApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crystalnix</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
    <link href="css/slick-theme.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body class="main-font">

    <nav class="header navbar navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="navbar-header col-lg-3 col-md-3 col-sm-1">
                    <a href="index.html">
                        <img class="hidden-xs" src="img/logo.png" alt="logo">
                        <img class="visible-xs pull-left" src="img/logo_mobile.png" alt="logo">
                        <span class="header__logo_text hidden-xs hidden-sm">
                            CRYSTALNIX
                        </span>
                    </a>
                    <button type="button" class="header__menu-button navbar-toggle collapsed" data-toggle="collapse" data-target="#responsive-navbar">
                        Menu
                        <img src="img/menu_arrow_up.png">
                    </button>
                </div>
                <div class="header_top_shadow col-lg-9 col-md-9 col-sm-11">
                    <div class="collapse navbar-collapse" id="responsive-navbar">
                        <ul class="navbar__list nav navbar-nav">
                            <li class="dropdown">
                                <a href="index.html" class="col-xs-10 col-sm-12">
                                    Who we are
                                    <img class="hidden-xs" src="img/menu_arrow_down.png">
                                </a>
                                <button class="col-xs-2 visible-xs btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><img src="img/menu_arrow_down.png"></button>
                                <ul class="header_dropdown-list dropdown-menu">
                                    <div class="container">
                                        <li><a href="index.html#crystalnix">Why Crystalnix</a></li>
                                        <li><a href="index.html#company">Company</a></li>
                                        <li><a href="index.html#approach">Our approach</a></li>
                                        <li><a href="index.html#clients">Our clients</a></li>
                                        <li><a href="index.html#partners">Our partners</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="services.html" class="col-xs-10 col-sm-12">
                                    Our services
                                    <img class="hidden-xs" src="img/menu_arrow_down.png">
                                </a>
                                <button class="col-xs-2 visible-xs btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><img src="img/menu_arrow_down.png"></button>
                                <ul class="header_dropdown-list dropdown-menu">
                                    <div class="container">
                                        <li><a href="services.html#product">Product Development</a></li>
                                        <li><a href="services.html#bespoke">Bespoke Business Apps + Tools</a></li>
                                        <li><a href="services.html#post">Post Release Maintenance</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="work.html">Our work</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="contacts.html">Contact us</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle text-orange" href="blog.html">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div ng-controller="blogsCtrl" class="content blogs">

        <div class="page-logo">
            <div class="container">
                <div class="page-logo__content row">
                    <span class="page-logo__content__header">
                        Our blog
                    </span>
                    <span class="page-logo__content__text">
                        We like to keep up to date with what’s going on in the world of IT and technology and we also
                        love to share our thoughts with you! Read on to see what we think of the latest tech.
                    </span>
                </div>
                <div class="page-logo__down-content row">
                    <div class="page-logo__down-content__img">
                        <a href="#blog-filter">
                            <img src="./img/our_blog/blog_arrow.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="blogs-filter" id="blog-filter">
            <div class="container text-center">
                <div ng-repeat="filter in filters" class="dropdown">
                    <a href="#" class="dropdown-toggle filter-elem" data-toggle="dropdown">
                        {{filter.label}}
                        <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu">
                        <div class="container">
                            <div class="blog-slider">
                                <div ng-repeat="tag in filter.tags" ng-click="setFilter(filter.tag_name, tag)" class="filter-elem">{{tag}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle filter-elem" data-toggle="dropdown">
                        SEARCH
                        <b>&#128269</b>
                    </a>
                    <div class="dropdown-menu">
                        <div class="container">
                            <div class="filter-elem">
                                <input class="input-sm" placeholder="SEARCH">
                                <b>&#128269</b>
                                <b>&#215</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list-articles">
            <div class="article text-center">

                <div class="title">
                    Hybrid mobile apps. What are the advantages of xamarin?
                </div>

                <div class="author">
                    By Anton Kuznetsov, 13.08.2015
                </div>

                <div class="summary">
                    Recently, one of our customers decided to develop a cross-platform VoIP application using Xamarin. We were keen to try this hybrid technology and share our experience after our first research was conducted. The idea was pretty common for this kind of app - voice and video calls and text messaging for corporate users. But it was a great chance for our company to see how much Xamarin could actually reduce the time of the development. It was also very exciting for me as an experienced iOS developer to expand my skills and to see the advantages and disadvantages of using this ..
                </div>

                <div class="tags">
                    #     android     hybrid     applications     ios mobile     development     xamarin
                </div>

                <div class="read-more-btn">

                </div>

            </div>

        </div>

        <button ng-click="pagination()" class="btn btn-danger btn-lg" style="margin: auto; display: block;">PAGINATION</button>
    </div>

     <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 row">
                    <ul class="col-md-3 col-sm-4 list-unstyled nopadding">
                        <li class="footer__padding-bottom">
                            <a href="#">
                                <strong>Who we are</strong>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Why Crystalnix
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Our Approach
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Our Clients
                            </a>
                        </li>
                        <li class="footer__padding-bottom">
                            <a href="#">
                                Our Partners
                            </a>
                        </li>
                    </ul>
                    <ul class="col-md-4 col-sm-4 list-unstyled nopadding">
                        <li class="footer__padding-bottom">
                            <a href="#">
                                <strong>Our services</strong>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Product Development
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Broke Business Apps + Tools
                            </a>
                        </li>
                        <li class="footer__padding-bottom">
                            <a href="#">
                                Post Release Maintenance
                            </a>
                        </li>
                        <li class="footer__padding-top">
                            <a href="#">
                                <strong>Our work</strong>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <strong>Contact us</strong>
                            </a>
                        </li>
                        <li class="footer__padding-bottom">
                            <a href="#">
                                <strong>Blog</strong>
                            </a>
                        </li>
                    </ul>
                    <div class="footer_social-networks col-md-3 col-sm-4 col-md-offset-2">
                        <a>
                            <img src="img/facebook.png">
                        </a>
                        <a>
                            <img src="img/fill.png">
                        </a>
                        <a>
                            <img src="img/twitter.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row footer__padding-bottom">
                <a class="col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2" href="#"><strong>&copy CRYSTALNIX 2015</strong></a>
            </div>
        </div>
    </footer>

    <script src="js/angular.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/respond.min.js"></script>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/page.navigation.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/page.blog.js"></script>


</body>
</html>